vgg_face2/*
lfw_funneled/*
pairs.txt
pairsDevTest.txt
pairsDevTrain.txt
pairs.txt
pairsDevTest.txt
pairsDevTrain.txt
data/*
__pycache__/*
rawVideo/*
rawScreenshots/*
skyrimvideos/*
maiq/*
scrapedData/*
*.pth
lfw-dataset.zip
lfw-dataset/*
testData/*
t.csv
*.png
jzargoTest.jpg
*.jpg
